/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233b3b3b' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #00C1FF; /* Color celeste */
    color: white;
}

/* Encabezado */
header {
    background-color: #bac5c9; /* gris para contraste */
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233b3b3b' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 15px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

nav {
    margin-top: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}

/* Contenedor principal */
.container {
    text-align: center;
    padding: 40px 20px;
}

.section {
    margin: 30px auto;
    padding: 20px;
    background-color: #FF7043; /* Un tono más oscuro de naranja */
    border-radius: 10px;
    max-width: 800px;
    color: white;
}

h2 {
    margin-top: 0;
}

/* Footer */
footer {
    background-color: #bac5c9; /* Azul para contraste */
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

footer img {
    max-width: 30px; /* Limita el ancho máximo de la imagen a 100px */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Elimina el espacio vacío alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del footer */
    border-radius: 5px; /* Opcional: bordes redondeados */
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233b3b3b' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    
}


/* Enlaces */
.logout-link, .auth-links a {
    color: white;
    font-weight: bold;
}

.auth-links a {
    margin: 0 10px;
}

.productos{ /*Creamos un selector para poder decirle que queremos que esté centrado y que ocupe cierto ancho*/
	width: 940px; /*Le ponemos*/
	position: relative; /*posición relativa a la posicón absoluta que habíamos puesto anteriormente*/
	margin: 0 auto; /*Margen de 0 en parte superior e inferior, y aútomatico en los bordes*/
	padding: 50px; /*Porpiedad para espaciamiento externo, colocamso 20px de parte superior e inferior*/
}

.productos li{
	display: inline-block; /*Le indicamos que ocupe lo necesario y se nos permita alterar el interior*/
	text-align: center; /*Alineamos todos los textos al centro*/
	width: 30%; /*Le indicamos que cada elemento ocupe el 30% del espacio*/
	vertical-align: top ;/*Indicamos que la alineación sea en la vertical*/
	margin: 0 1.5%; /*margen de 0 en superior e inferior, pero de 1.5% en los laterales entre los objetos*/
	padding: 30px 20px; /*Espaciamiento interno entre el título y las ímágenes, 30px en vertical y 20px en horizontal*/
	/*Pero, sí hacemos lo anterior van a salir del tamaño asignado a la página, por lo que vamos a usar una propiedad*/
	box-sizing: border-box; /*Tamaño de la caja, border-box hace referencia a que el límite del espacio que va a ser definido va a ser el borde de los objetos*/
	border: 2px solid #000000; 
	border-radius: 10px; /*Instrucción para redondear bordes. Indicamos que todos los bordes en cada esquina tienen un radio de 10px*/
}

.productos li img { /*Selector que nos ajusta la imagen a colocar al ancho de nuestro contenedor*/
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Ajustará la altura automáticamente para mantener la proporción */
    display: block; /* Asegura que no haya espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen dentro del contenedor */
    border-radius: 5px; /* Opcional: bordes ligeramente redondeados */
}



.productos li:hover{
	border-color: #ffffff; /*color mostaza a los bordes cuando pase el mouse*/
}

.productos li:active{ 
	border-color: #088C19;/*Color verde cuando se da click*/
}

.productos h2{
	font-size: 22px;
	font-weight: bold; /*para definir que el estilo va en negrita*/
}

.productos li:hover h2{  /*Cuando se posicione en cualquier lugar del productos li, pasa a afectar al h2*/
	font-size: 26px;
}

.producto-descripcion{
	font-size: 14px;/*Le cambiamos el tamaño de la letra*/
}

.producto-precio{
	font-size: 20px; /*indicamos el tamaño de letra nuevo*/
	font-weight: bold; /*indicamos el tipo de fuente, en este caso negrita*/
	margin-top: 10px;/*Separamos el precio de la descripción con 10 pixeles*/
}

/* NEWS CARDS*/
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
}

/*CARDS BANNER ONE*/
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url('./img/banner.jpeg');
    margin-bottom: 40px;
}

.cards-banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: black;
}

/*Social*/
.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/*FOOTER LINKS*/
.footer-links {
    background-color: wheat;
    color: black;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
line-height: 2;
}

.footer {
    background: wheat;
    color: gray;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px){

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #7ee394;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        border-bottom: white solid 1px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 20px;
    }
    
    .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}