/* Ajuste general para márgenes laterales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233b3b3b' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #FFA500; /* Color naranja */
    color: white;
    padding: 0 20px; /* Agrega margen interno lateral */
}

/* Encabezado */
/* Encabezado */
header {
    background-color: #00C1FF; /* Azul para contraste */
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233b3b3b' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 15px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

nav {
    margin-top: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}

/* Contenedor principal */
.container {
    text-align: center;
    padding: 40px 20px;
    margin: 0 auto; /* Centrado */
    max-width: 1200px; /* Para limitar el ancho máximo */
}

/* News Cards */
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 20px auto; /* Márgenes superiores e inferiores */
    max-width: 1200px; /* Limitar el ancho total */
    padding: 0 20px; /* Márgenes laterales */
}

/* Ajustar las imágenes */
.news-cards img {
    width: 100%;
    height: auto; /* Ajustar altura proporcional */
    border-radius: 5px; /* Opcional: bordes redondeados */
}

/* Footer */
footer {
    background-color: #00C1FF; /* Azul para contraste */
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

footer img {
    max-width: 20px; /* Limita el ancho máximo de la imagen a 100px */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Elimina el espacio vacío alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del footer */
    border-radius: 5px; /* Opcional: bordes redondeados */
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233b3b3b' fill-opacity='0.23' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    
}


/* Enlaces */
.logout-link, .auth-links a {
    color: white;
    font-weight: bold;
}

.auth-links a {
    margin: 0 10px;
}


@media (max-width: 700px) {
    /* Ajuste de responsive */
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px; /* Márgenes laterales más pequeños en pantallas pequeñas */
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
